SERVICE_NAME=
SERVICE_PORT=
ENV=
MAX_FILE_SIZE=
ALLOWED_FILE_TYPES=
REQUIRED_COLUMNS=
LOG_LEVEL=

# uvicorn app.main:app --host 0.0.0.0 --port 8000
# source venv/bin/activate
# In cmd.exe
#venv\Scripts\activate.bat